<configuration >
	<configSections >
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary
.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data,
Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="repositoryMappingsConfiguration"
		type="SmartCA.Infrastructure.RepositoryFramework.Configuration
.RepositorySettings, SmartCA.Infrastructure, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null"/>
		<section name="entityMappingsConfiguration"
		type="SmartCA.Infrastructure.EntityFactoryFramework.Configuration
.EntitySettings,
SmartCA.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections >
	<dataConfiguration defaultDatabase="SmartCA"/>
	<connectionStrings >
		<add name="SmartCA" connectionString="Data Source=|DataDirectory|\SmartCA.sdf"
		providerName="System.Data.SqlServerCe.3.5"/>
	</connectionStrings >
	<repositoryMappingsConfiguration >
		<repositoryMappings >
			<repositoryMapping interfaceShortTypeName="IProjectRepository"
			repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ProjectRepository,
SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null" />
			<repositoryMapping interfaceShortTypeName="IEmployeeRepository"
			repositoryFullTypeName="SmartCA.Infrastructure.Repositories.EmployeeRepository,
SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null" />
			<repositoryMapping interfaceShortTypeName="ICompanyRepository"
			repositoryFullTypeName="SmartCA.Infrastructure.Repositories.CompanyRepository,
SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null" />
			<repositoryMapping interfaceShortTypeName="IContactRepository"
			repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ContactRepository,
SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null" />
		</repositoryMappings >
	</repositoryMappingsConfiguration >
	<entityMappingsConfiguration >
		<entityMappings >
			<entityMapping entityShortTypeName="Project"
			entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.ProjectFactory,
SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null" />
			<entityMapping entityShortTypeName="Employee"
			entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.EmployeeFactory,
SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null" />
			<entityMapping entityShortTypeName="Company"
			entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.CompanyFactory,
SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null" />
		</entityMappings >
	</entityMappingsConfiguration >
</configuration >